:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

.container {
  margin: 40px auto;
  max-width: 600px;
}

footer {
  font-size: 12px;
  margin-top: 10px;
}
