:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
}

body {
  background-color: var(--section-color);
}

.container {
  margin: 40px auto;
  max-width: 600px;
}

footer {
  font-size: 12px;
  margin-top: 10px;
}

.Credit {
  color: black;
}

.WeatherLink a {
  color: black;
  text-decoration: none;
}
.WeatherLink a:hover {
  font-weight: bold;
}

.Github a {
  color: black;
  text-decoration: none;
}
.Github a:hover {
  font-weight: bold;
}

.Netlify a {
  color: black;
  text-decoration: none;
}
.Netlify a:hover {
  font-weight: bold;
}

@media (max-width: 576px) {
  .App .container {
    max-width: 500px;
  }
}
