:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

.Weather {
  border-radius: 10px;
  background-color: var(--section-color);
  padding: 20px;
}

.Weather .btn {
  background-color: var(--secondary-color);
  text-align: center;
  color: white;
  font-weight: bold;
}

.Weather .btn:hover {
  background-color: var(--branding-color);
  color: var(--primary-color);
}

.Weather h1 {
  color: var(--primary-color);
  font-size: 40px;
  margin: 20px 0 10px 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: var(--primary-color);
  font-size: 20px;
  list-style: none;
}

.Weather img {
  height: 64px;
  width: 64px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
  vertical-align: top;
}

.Weather .temperature {
  color: var(--primary-color);
  font-weight: semibold;
  font-size: 64px;
}

.Weather .unit {
  font-size: 15px;
  position: relative;
  top: -32px;
  margin-left: 5px;
}
