:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
}

.Weather {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  box-shadow: 5px 5px 10px 1px rgba(65, 50, 100, 0.08);
}

.Weather .btn {
  background-color: var(--secondary-color);
  text-align: center;
  color: white;
  font-weight: bold;
}

.Weather .btn:hover {
  background-color: var(--branding-color);
  color: var(--primary-color);
}

.Weather h1 {
  color: var(--primary-color);
  font-size: 40px;
  margin: 20px 0 10px 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: var(--primary-color);
  font-size: 20px;
  list-style: none;
}

.Weather canvas {
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
}

.Weather .temperature {
  color: var(--primary-color);
  font-weight: semibold;
  font-size: 64px;
}

.Weather .unit {
  font-size: 15px;
  margin-left: 5px;
  position: relative;
  top: -32px;
}

.WeatherTemperature .unit {
  font-size: 20px;
  margin-left: 5px;
  position: relative;
  top: -32px;
}

.temp-low {
  opacity: 0.5;
}

@media (max-width: 576px) {
  .form-control {
    font-size: 12px;
  }
  .searchButton {
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .Weather .temperature {
    font-size: 58px;
  }
  .weatherResults li {
    font-size: 18px;
  }
}
